{
    "minimum_nag_value": 100,
    "deposit": {
        "purchases_per_period": 31,
        "payment_method_id": ""
    }
    "orders": [
        {
            "trading_pair": "BTC-USD",
            "amount": 100
        },
        {
            "trading_pair": "ETH-USD",
            "amount": 100
        }
    ],
    "external_wallets": {
        "BTC": {
            "max_value_before_move": 1000,
            "destination_wallet": ""
        },
        "ETH": {
            "max_value_before_move": 1000,
            "destination_wallet": ""
        }
    },
    "coinbase_pro": {
        "password": "",
        "api_key": "",
        "api_secret": ""
    },
    "coinbase_pro_sandbox": {
        "password": "",
        "api_key": "",
        "api_secret": ""
    },
    "logging": {
        "log_level": 20,
        "gotify": {
            "app_token": "",
            "server_url": ""
        }
    }
}
